body{

    background: url('./../../public/images/first.jpg');

    background-size: 100%;

    background-attachment: fixed;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.brand_jumbotron{

    margin-top: 30px;

}

.transparent{

    opacity: 95%;

}
